

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aquamarine;
    background-image: url('https://unsplash.com/photos/green-trees-on-mountain-during-daytime-e8G9I42Dxgw/download?force=true&w=1920');
    background-size: cover;
}