html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:15%;
    padding: 7.5px;
    margin:auto;
}

header.primary{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: aquamarine;
}

#content{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
}

#blog{
    grid-column-start: 6;
    grid-column-end: 9;
}

footer{
    grid-column: 1 / 9;
    grid-row: 5;
}
